#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.bold {
  font-weight: bold;
}

.ital {
  font-style: italic;
  padding-left : 2em;
}

.delete {
  background-image: url("delete_icon.png");
  background-size: 22px;
  padding: 11px;

}